
    .navbar{
        background-color: #00000000;
        padding: 10px 20px;
        border-radius: 5PX;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px; /* Añadir un margen inferior para separar del Hero */        
    }   

    .navbar-brand{
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        font-weight: bold;
        color: #002f6d;
    }

    .navbar-nav{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
    }

    .nav-item{
        margin-right: 10px;
        
    }

    .nav-link{
        color: #002f6d;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }
    .nav-link:hover{
        color: #f3d112;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }
    .navbar img{
        margin-top: 10px;
        width: 200px;
        height: 50px;
        margin-bottom: 0px;
    }